<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--<span style="color:#008000;font-family:Consolas;"> Additional entries removed to help readability-->
    <security>
      <requestFiltering removeServerHeader ="true"></requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>